<a href="<%= '/works/' + work.key %>">
  <div class="work-prev">
    <div class="work-prev-image" style="background: url('<%= work.images[0].url %>') 25% 25% no-repeat; width: 320px; height: 320px;" alt="<%= work.title %>">
    </div>
    <div class="work-prev-name">
      <h3><%= work.title %></h3>
      <p><%= moment(work.date).format('MMMM YYYY') %></p>
    </div>
  </div>
</a>

