<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../shared/head %>
</head>
<body>

  <header>
    <% include ../../shared/header %>
  </header>

    <div class="work">

        <div class="work-carousel">
            <% work.images.forEach(function(image) { %>
                <div>
                    <a href="<%= image.secure_url %>" target="_blank">
                        <div class="work-carousel-image" style="background-image: url('<%= image.secure_url %>');"></div>
                    </a>
                </div>
            <% }) %>
        </div>

        <div class="work-carousel-nav">
            <% work.images.forEach(function(image) { %>
                <div class="work-carousel-nav-thumb" style="background-image: url('<%= image.secure_url %>');"></div>
            <% }) %>
        </div>

        <h2 class="work-title"><%= work.title %></h2>

        <div class="work-description">
          <span><%= moment(work.date).format('DD MMMM YYYY'); %></span>
          <p><%= work.description %></p>
        </div>
    </div>

</body>
</html>

